:host {
  background-color: black;
}

p {
  color: #5E5E5E;
}

h4 {
  letter-spacing: 2px;
  color: white;
}

.column {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

}
